[submodule "cFS"]
	path = cFS
	url = https://github.com/leomeza1/cFS.git
[submodule "rtems/tools/rsb"]
	path = rtems/tools/rsb
	url = https://gitlab.rtems.org/rtems/tools/rtems-source-builder.git
	branch = 6
[submodule "rtems/rtos/rtems"]
	path = rtems/rtos/rtems
	url = https://gitlab.rtems.org/rtems/rtos/rtems.git
	branch = 6
[submodule "rtems/pkg/rtems-libbsd"]
	path = rtems/pkg/rtems-libbsd
	url = https://gitlab.rtems.org/rtems/pkg/rtems-libbsd.git
	branch = 6-freebsd-12
